

.hj-title {
    width: 100%;
    height: 30px;
    margin-top: 15px;

}

.hj-title span{
    font-size: 19px;
    float: left;
}

.hj-title-radio{
    border-radius: 5px;
    float: right;
}
.hj-title-radio label{
    width: 50px;
    height: 25px;
    line-height: 25px;
    background-color: white;
    font-size: 15px;
    text-align: center;
    border: 1px solid #e34947;
    float: left;
    color: #e34947;
    cursor: pointer;
}

.radio-checked{
    background-color: #e34947 !important;
    color: white !important;

}

input[type='radio'] {
    display: none
}

.hj-charts{
    width: 33%;
    float: left;
    height: 80%;
}

.hcharts-des{
    width: 100%;
}

.hcharts-des p{
    width: 33%;
    float: left;
    text-align: center;
}

.hj-3d{
    width: 100%;
    height: 350px;
}

.testkk{
    height: 95%;
    margin-top: 10px;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    min-height: 320px;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    display:none;
}

.lw-piece{
    width: 32%;
    float: left;
    margin: 5px 10px 10px 0;
    height: 220px;
    background-color: white;
    padding: 8px;
}

.lwp-num{
    width: 100%;
    height: 80px;
    margin-top: 40px;
}

.lwp-des{
    width: 100%;
    height: 40px;
}

.lwp-num1{
    width: 33%;
    height: 80px;
    font-size: 35px;
    line-height: 80px;
    text-align: center;
    color: red;
    float: left;
}
.lwp-num2{
    width: 33%;
    height: 80px;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    float: left;
}

.lwp-des1{
    width: 33%;
    height: 40px;
    font-size: 13px;
    text-align: center;
    float: left;
}

.nav-second-level span{
    padding-left: 20px;
}