<{include file="./header" title='分配假期时间'/}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>分配假期时间</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="commentForm" method="post">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">员工</label>
                            <div class="input-group col-sm-4">
                                <select class="form-control" name="user_id" id="uid">
                                    <option value=0 aria-selected="true">请选择人</option>
                                    {foreach name="user" item="us" }
                                    <option value="{$key}">{$us}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        {volist name="type" id="ty"}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{$ty.name}</label>
                            <div class="input-group col-sm-4">
                                <input type="number" class="form-control" name="type[{$ty.id}]" min="0" value=0>
                            </div>
                        </div>
                        {/volist}
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{include file="./footer"}
<script type="text/javascript">
    $("#commentForm").on("submit", function(ev) {
        uid = $('#uid option:selected').val();
        if(uid == 0){
            swal('请选择一个员工彡(-_-;)彡','失败','error');
            setTimeout("self.location.reload()", 2000);
            ev.preventDefault();
            return;
        }else{
            var jz;
            $.ajax({
                type: "POST",
                url: "./addVacationTime",
                data: $("#commentForm").serialize(),
                async: false,
                beforeSend: function () {
                    jz = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                },
                error: function (request) {
                    layer.close(jz);
                    layer.msg('网络错误,请重新添加');
                },
                success: function (data) {
                    //关闭加载层
                    layer.close(jz);
                    if (data.code == 1) {
                        swal("时间添加完成！ 2秒后刷新页面",'成功','success');
                    } else {
                        swal(data.msg,'失败','error');
                    }
                    setTimeout("self.location.reload()", 10000);
                }
            });
        }
        //阻止submit表单提交
        ev.preventDefault();
    })
</script>
