<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <!-- Bootstrap core CSS -->
    <link href="/__BOOT__/css/bootstrap.min.css" rel="stylesheet">
    <link href="/__BOOT__/css/bootstrap-reset.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/__BOOT__/css/style.css" rel="stylesheet">
    <!--<link href="/__BOOT__/css/style-responsive.css" rel="stylesheet" />-->
    <!--[if lt IE 9]>
    <script src="/__BOOT__/js/html5shiv.js"></script>
    <script src="/__BOOT__/js/respond.min.js"></script>
    <![endif]-->
    <!--自定义样式-->
    <style>
        #main-content{margin-left:0px;}
        .wrapper{margin-top:0px;}
        .slt{width: 200px;}
    </style>
</head>

<body>
<section id="container" class="">
    <section id="main-content">
        <section class="wrapper site-min-height">
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            热点排行设置
                        </header>
                        <div class="panel-body">
                            <!--<form class="form-horizontal" id="default" action="{:url('admin/columns/docolumn')}" method="post">-->
                            <form class="form-horizontal" id="commentForm" method="post" onsubmit="return toVaild()">
                                <fieldset title="Step1" class="step" id="default-step-0">
                                    <legend> </legend>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">点击量</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" required="required" placeholder="点击量" name="column_name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">搜藏量</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control"  required="required" placeholder="搜藏量"  name="column_child[]">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">新闻排行</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control"  required="required" placeholder="新闻排行"  name="column_child[]">
                                        </div>
                                    </div>
                                </fieldset>
                                <!--<input type="submit" class="finish btn btn-green" value="提交"/>-->
                                <!--<input type="button" class="finish btn btn-green" value="提交"/>-->
                                <button class="btn btn-primary" type="submit">提交</button>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
    <footer class="site-footer">
        <div class="text-center">
            2013 &copy; FlatLab by VectorLab.
            <a href="#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
</section>

<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/validate/jquery.validate.min.js"></script>
<script src="__JS__/plugins/validate/messages_zh.min.js"></script>
<script src="__JS__/plugins/iCheck/icheck.min.js"></script>
<script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>
<script src="__JS__/plugins/layer/laydate/laydate.js"></script>
<script src="__JS__/plugins/suggest/bootstrap-suggest.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>

<script src="/__BOOT__/js/jquery.js"></script>
<script src="/__BOOT__/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/__BOOT__/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/__BOOT__/js/respond.min.js" ></script>
<script src="/__BOOT__/js/jquery.stepy.js"></script>

<script>
    $(function() {
        $('#commentForm').stepy({
            backLabel: 'Previous',
            block: true,
            nextLabel: 'Next',
            titleClick: true,
            titleTarget: '.stepy-tab'
        });


//        $('.finish').click(function(){
//            alert(111);
//        })

    });


    //添加子栏目
    var num=1;
    function add_column(){
        num++;
        $(".child_column").append('' +
            '<div class="form-group" style="margin-left: 0;">'+
            '<label class="col-lg-2 control-label"></label>'+
            '<div class="col-lg-9" style="margin-left: -4px;width: 1240px;">'+
//                    '<input type="text" class="form-control" placeholder="子栏目'+num+'"  name="column_child'+num+'">'+
            '<input type="text" class="form-control" required="required" placeholder="子栏目'+num+'"  name="column_child[]">'+
            '</div>'+
            '</div>'
        );
    }


    //表单提交
    function toVaild(){
        var load;
        var url = "./docolumn";
        $.ajax({
            type:"POST",
            url:url,
            data:{'data' : $('#commentForm').serialize()},
            async: false,
            beforeSend:function(){
                load = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
            },
            error: function(request) {
                layer.close(load);
                swal("网络错误!", "", "error");
            },
            success: function(data) {
//                alert(JSON.stringify(data));
//                alert(JSON.parse(data));
                //关闭加载层
                layer.close(load);
                if(data.code == 1){
                    layer.msg(data.msg, {time : 1000});
//                    swal(data.msg, "", "success");
                }else{
                    layer.msg(data.msg, {time : 1000});
//                    swal(data.msg, "", "error");
                }

            }
        });

        return false;
    }

</script>


</body>
</html>
